name: Move JIRA ticket to QA column by comment

on:
  issue_comment:
    types:
      - created

jobs:
  move_QA:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@0.3.0
        if: >-
          github.event_name != 'issue_comment'
          || github.event.issue.number == ''
          || !contains(github.event.comment.body, '/move-qa')
        with:
          github-token: '${{secrets.GITHUB_TOKEN}}'
          script: |
            const core = require('@actions/core');
            core.setFailed('Close job');
            process.exit(1)
      - name: Login
        uses: atlassian/gajira-login@master
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_ACCOUNT }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_AUTH_TOKEN }}
      - name: Set Jira issue Id
        run: >
          echo "JIRA_ISSUE_ID=$(echo $GITHUB_REF##*/ | grep -o
          -i -E 'SDA-[0-9]+' | grep -o -E '[0-9]+')" >> $GITHUB_ENV
      - name: echo test
        run: |
          echo '${{ env.JIRA_ISSUE_ID }}';
          echo $GITHUB_HEAD_REF
          echo $GITHUB_REF##*/
          echo " - ${{ env.GITHUB_REF_SLUG }}"
          echo " - ${{ env.GITHUB_HEAD_REF_SLUG }}"
          echo " - ${{ env.GITHUB_BASE_REF_SLUG }}"
          echo " - ${{ env.GITHUB_REPOSITORY_SLUG }}"
          echo 'hello'
      - name: Transition issue to QA column
        uses: atlassian/gajira-transition@master
        with:
          issue: '${{ env.JIRA_ISSUE_ID }}'
          transition: 'Need QA to review'
