name: tag injdex

on:
  push:
    branches:
      - master
    tags:
      - v*

env:
  APP_ENV: prod
jobs:
  build:
    env:
      REACT_APP_STAGE: 'production'
      CI: ''

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Get version from package.json
        run: |
          echo "::set-env name=PACKAGE_CURRENT_VERSION::$(npx -c 'echo "v$npm_package_version"')"
          echo "::set-env name=TAG_CURRENT_VERSION::${GITHUB_REF/refs\/tags\//}"
      - name: Build new version for production
        if: env.REACT_APP_TAG_CURRENT_VERSION != env.REACT_APP_PACKAGE_CURRENT_VERSION
        run: |
          echo 'build ${REACT_APP_STATE}'

      - name: Build and release production
        if: env.REACT_APP_TAG_CURRENT_VERSION == env.REACT_APP_PACKAGE_CURRENT_VERSION
        run: |
          echo 'build & release ${REACT_APP_STATE}'
